<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  {{script("/js/app.js")}}
  {{script("/js/angular.min.js")}}
  {{script("/js/materialize.min.js")}}
  {{script("/js/script.js")}}

  {{css("/css/materialize.min.css")}}

  <body>
<div class="container  ">
  <br>
  <h4>Vendor registration</h4>
  <form class="" action="/register-vendor" method="post">
    {{ csrfField() }}
    <div class="row">
      <div class="input-field  col m4">
        <input type="text" name="companyName" value="">
        <label for="">Name of the company</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field  col m4">
        <input type="text" name="companyRegistration" value="">
        <label for="">Comapny registration</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field  col m4">
        <input type="text" name="email" value="">
        <label for="">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field  col m4">
        <input type="text" name="contactTel" value="">
        <label for="">Conatct (Tel)</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field  col m4">
        <input type="text" name="contactMobile" value="">
        <label for="">Conatct (Mobile)</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field  col m4">
        <input type="text" name="address" value="">
        <label for="">Address</label>
      </div>
      <div class="input-field  col m4">
        <input type="text" name="state" value="">
        <label for="">State</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field  col m4">
        <input type="text" name="city" value="">
        <label for="">City</label>
      </div>
      <div class="input-field  col m4">
        <input type="text" name="zipCode" value="">
        <label for="">Zip code</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m7">
       <select multiple name="typeBussiness">
         <option value="" disabled selected>Choose your option</option>
         <option value="General">General</option>
         <option value="Food">Food</option>
         <option value="Clothing">Clothing</option>
         <option value="Furnitur">Furnitur</option>
          <option value="Collector / products">Collector / products</option>
          <option value="Construction">Construction</option>
          <option value="Vehicle / Vessels">Vehicle / Vessels</option>
          <option value="Marine products">Marine products</option>
       </select>
       <label>Type of bussiness</label>
     </div>


    </div>
    <div class="row">
      <div class="  col m4">
        <label for="test10">Company profile</label>
        <br>
      <input type="file" name="" value="">

      </div>
    </div>

    <div class="row">
      <div class="  col m4">
        <label for="test10">Authorization letter</label>
        <br>
      <input type="file" name="" value="">

      </div>
    </div>

        <div class="row">
          <div class="  col m4">
            <label for="test10">Company registration</label>
            <br>
          <input type="file" name="" value="">

          </div>
        </div>
        <div class="row">
          <div class="  col m4">
            <label for="test10">GST registration</label>
            <br>
          <input type="file" name="" value="">

          </div>
        </div>
        <div class="row">
          <div class="  col m4">
            <label for="test10">Company profile</label>
            <br>
          <input type="file" name="" value="">

          </div>
        </div>
        <div class="row">
          <div class="  col m4">
            <label for="test10">shareholder ID's</label>
            <br>
          <input type="file" name="" value="">

          </div>
        </div>
        <div class="row">

<input type = "submit" class="waves-effect waves-light btn" value="submit">
        </div>
  </form>
</div>
  </body>
</html>
